<nav>
  <% if (isLoggedIn) { %>
    <span>Witaj, <%= username %>!</span>
    <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Register</a>
  <% } %>
</nav>